<div class="panel panel-default">
  <div class="panel-heading">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
    {{ .Date.Format "Mon, Jan 2, 2006" }}
    {{.Site.Params.author}}
  </div>
  <div class="panel-body">
    {{.Content}}
  </div>
  <div class="panel-footer">
    {{ range .Params.tags }}
    <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
    {{ end }}
  </div>
</div>