{{ partial "header.html" . }}
  <div class="col-sm-12">
    <h2>{{ .Title }}</h2>
    <div class="text-muted">{{ .Date.Format "Monday, January 2, 2006" }}</div>
    <div class="text-muted">{{ .FuzzyWordCount }} Words - {{.ReadingTime}} mins</div>
      <div class="col-sm-12 article-content">
        {{ .Content }}
      </div>
  </div>
</div>
  <div class="row">
  {{ if .PrevInSection }}
  <div class="col-sm-4 text-left">
    <a class="previous" href="{{.PrevInSection.Permalink}}"> {{.PrevInSection.Title}}</a>
  </div>
  {{else}}
  <div class="col-sm-4 text-left">
    Nothing more.
  </div>
  {{ end }}
  <div class="col-sm-4">Tags: |
  {{ range .Params.tags }}
  <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> |
  {{ end }}
  </div>
  {{ if .NextInSection }}
  <div class="col-sm-4 text-right">
    <a class="next" href="{{.NextInSection.Permalink}}"> {{.NextInSection.Title}}</a>
  </div>
  {{else}}
  <div class="col-sm-4 text-right">
    Nothing more.
  </div>
  {{ end }}
{{ partial "footer.html" . }}
