<div class="panel panel-default">
  <div class="panel-heading">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
    {{ .Date.Format "Mon, Jan 2, 2006" }}
    {{.Site.Params.author}}
  </div>
  <div class="panel-body">
    {{.Summary}}
  </div>
  <div class="row">
    <div class="col-sm-6 text-left">
      {{ if .Truncated }}
      <div class="panel-footer"><a href="{{ .RelPermalink }}">Read More…</a></div>
      {{ end }}
    </div>
    <div class="col-sm-6 text-right">
      <div class="btn-group" role="group">
        {{ range .Params.series }}
        <button type="button" class="btn btn-default"><a href="{{ "/series/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></button>
        {{ end }}
      </div>
    </div>
  </div>
</div>