{{ partial "header.html" . }}
<div class="row">
  <div class="col-sm-12">
    <div class="page-header text-center art">
      <h1>{{ .Title }}</h1>
    </div>
  </div>
</div>
<div class="col-sm-5 article-meta">
  <div class="panel panel-default text-muted">
    <ul class="list-group">
      <li class="list-group-item">Author: {{ .Site.Params.author }}</li>
      <li class="list-group-item">Word count: {{ .WordCount }}</li>
      <li class="list-group-item">Reading time: ~{{ .ReadingTime }}mins</li>
    </ul>
  </div>
  {{ if .TableOfContents }}
  <div id="toc" class="panel panel-default text-center">
    <div class="panel-title"><h3 class="panel-heading">Table of Contents</h3></div>
      {{ .TableOfContents }}
  </div>
  {{end}}
  <div class="panel panel-default text-center">
    <div class="panel-title"><h3 class="panel-heading">Series</h3></div>
    <ul class="list-group">
    {{ range .Params.series }}
      <li class="list-group-item"><a href="{{ "/series/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
    {{ end }}
    </ul>
  </div>
</div>
<div class="col-sm-7 article-content">
  {{ .Content }}
</div>


{{ partial "footer.html" . -}}
