/*The most important parts of the site*/
.article-meta {
  padding-top: 1pc;
  border-style: solid;
  border-color: lightgrey;
  border-width: thin;
  border-radius: 5px;
  background-color: snow;
}
.article-content {
  border-style: solid;
  border-color: lightgrey;
  border-width: thin;
  border-radius: 5px;
  /* offset-x | offset-y | blur-radius | color */
  -moz-box-shadow:  2px 1px 1px grey !important;
  -webkit-box-shadow:  2px 1px 1px grey !important;
  box-shadow:  2px 1px 1px grey !important; /* !important tags aren't necessarily always bad */
  background-color: #F8F8FF;
}
/*Bootstrap overrides*/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: snow;
  padding-top: 50px;
}
@headings-font-family {
  font-family: 'News Cycle', sans-serif;
}
.navbar-default{
  background-color: #F8F8FF;
}
.page-header {
  border-bottom: 1px solid darkgray !important;
}
.panel-default {
  background-color: white;
}
.panel-heading, .panel-footer {
  background-color: #F8F8FF !important;
}
.panel-title {
  padding-left: 10px;
  padding-right: 10px;
}