{{ partial "header.html" . -}}
<div class="col-sm-12">
  <h2>All posts tagged with {{.Title}}</h2>
  {{ template "_internal/pagination.html" . }}
  <ul>
  {{ range .Paginator.Pages }}
     <li><a href="{{.Permalink}}">{{ .Title }}</a></li>
  {{ end }}
</ul>
{{ template "_internal/pagination.html" . }}
{{ partial "footer.html" . -}}