<html>
  <head>
    <title>{{ .Title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ partial "meta.html" . }}
    <link rel="stylesheet" href="{{- .Site.BaseURL -}}css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=News+Cycle|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{{- .Site.BaseURL -}}css/custom.css">
    <script src="{{- .Site.BaseURL -}}js/jquery-3.1.1.min.js"></script>
    <script src="{{- .Site.BaseURL -}}js/bootstrap.min.js"></script>
    {{ if .RSSLink }}
      <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
      <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
  </head>
  <body>
    <div class="container">
      <div class="row navigation-bar">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainMenu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="mainMenu">
              <ul class="nav navbar-nav">
                <li><a href="{{- .Site.BaseURL -}}" class="navbar-brand">{{- .Site.Title -}}</a></li>
                {{ $currentNode := . }}
                {{ range .Site.Menus.main }}
                <li><a href="{{.URL}}">{{ .Name }}</a></li>
                {{ end }}
              </ul>
            </div>
          </div>
        </nav>
      </div>
    <div class="row content">