{{ partial "header.html" . }}
      <div class="col-sm-6">
          <h1>Posts</h1>
          {{- range first 10 .Data.Pages -}}
            {{- if eq .Type "post" }}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
              </div>
              <div class="panel-body">
                {{.Content}}
              </div>
            </div>
            {{- end -}}
          {{- end }}
      </div>
      <div class="col-sm-6">
        <h1>Articles</h1>
        {{- range first 10 .Data.Pages -}}
          {{- if eq .Type "article"}}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
            </div>
            <div class="panel-body">
              {{- .Description -}}
            </div>
            {{ if .Truncated }}
              <div class="panel-footer"><a href="{{ .RelPermalink }}">Read More…</a></div>
            {{ end }}
          </div>
          {{- end -}}
        {{- end }}
      </div>
{{ partial "footer.html" . }}