{{ partial "header.html" . -}}
<div class="col-sm-12">
<section id="post">
  <div>
   <div class="page-header"><h1 id="title">{{ .Title }}</h1></div>
    {{ range .Paginator.Pages }}
        {{ .Render "li"}}
    {{ end }}
  </div>
</section>
{{ template "_internal/pagination.html" . }}
{{ partial "footer.html" . -}}